.product_cell{
    border: 2px solid blue; 
    border-radius: 10px; 
    padding: 10px;
    margin: 0 10px;
}
.laptop > h2{
    color: blue;
}
.laptop > h3{
    color: cadetblue;
    text-align: right;
    padding-right: 10px;
}
.celular > h2{
    color: red;
}
.celular > h3{
    color: blueviolet;
    text-align: center;
    font-size: 24px;
    
}
.audifonos > h2{
    color: green;
}
.audifonos > h3{
    color: aqua ;
    text-align: right;
    font-size: 24px;
}
.bar{
    width: 100%;
    height: 2px;
    background: black;
}
.product_cell:hover{
    border: 1px solid brown;
    box-shadow: 0px 0px 10px brown;
    cursor: grab;
}
.product_cell:hover > img{
    opacity: 0.5;
    border: 1px solid black;
}
/* Estilos para el formulario */
.div_form{
    width: 400px;
    margin: 20px auto;
}
.div_form > form > input{
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    width: 70%;
    font-size: 24px;
    padding-left: 10px;
    outline: none;
}

.div_form > form > input:focus{
    border: 1px solid green;
}
.div_form button{
    width: 25%;
    height: 40px;
    border-radius: 10px ;
    border: 1px solid #ccc;
}
.div_form button:hover{
    background: linear-gradient(#f69d3c, #3f87a6);
}

.price::before{
    content: '$';
}
.price::after{
    content: '.00';
}